<header>
    <a href="#" class="logo">
        <img src="/infi_website/image/logo.jpeg" alt="Logo" class="logo-img">
    </a>

    <div id="menu" class="fas fa-bars"></div>

    <nav class="navbar">
        <ul>
            <li><a href="home.html">Home</a></li>
            <li class="dropdown">
                <a href="resources.html" class="dropbtn">Resources</a>
                <div class="dropdown-content">
                    <a href="Fundamental.html">Fundamentals</a>
                    <a href="Technical Papers.html">Technical Papers</a>
                    <a href="Books.html">Books</a>
                    <a href="Videos.html">Videos</a>
                    <a href="Relevant Links.html">Relevant Links</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="domain-expert.html" class="dropbtn">Domain Experts</a>
                <div class="dropdown-content">
                    <a href="academicians.html">Academicians</a>
                    <a href="scientists.html">Scientists</a>
                    <a href="Industry Personnel.html">Industry Personnel</a>
                    <a href="Researchers.html">Researchers</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="downloads.html" class="dropbtn">Downloads</a>
                <div class="dropdown-content">
                    <a href="#">Data Download</a>
                    <a href="opensource.html">Opensource Software</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="education.html" class="dropbtn">Education</a>
                
                </div>
            </li>
            <li><a href="career.html">Career</a></li>
            <li><a href="news.html">Events</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact.html">Contact Us</a></li>
        </ul>
    </nav>

    <div class="right-items">
        <form class="search-form">
            <input type="text" placeholder="Search...">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        <a href="login.html" class="login-icon">
            <i class="fas fa-user"></i>
            <span>Login</span>
        </a>
    </div>
</header> 